---
---

body[type="bright"] {
  --header-bg: #3f663b;
  --html-bg: #fff;
  --background: #f3f3f3;
  --font-color: #222;
  --figcap-color: #eaeac0;
  --quote-color: #eee;
  --quote-border: #ccc;
  --link-color: #3f663b;
  --interview-color: #dda;
  --pgyft-bg: #dec588;
  --pgyft-qna: #e9d9b0;

  --timeline-bg: #eed;
  --timeline-header: #f1f1d4;
  --timeline-month: beige;
  --timeline-event: #f3f3d6;
  --timeline-event-dark: #e9e9cc;

  --border-color: #aaa;
}

body[type="dark"] {
  --header-bg: #343;
  --html-bg: #080808;
  --background: #141610;
  --font-color: #ddddb9;
  --figcap-color: #101010;
  --quote-color: #0f0f0f;
  --quote-border: #444;
  --link-color: #f35151;
  --interview-color: #222;
  --pgyft-bg: #222;
  --pgyft-qna: #333;

  --timeline-bg: #090909;
  --timeline-header: #141414;
  --timeline-month: #121212;
  --timeline-event: #1c1c1c;
  --timeline-event-dark: #0f0f0f;

  --border-color: #444;
}
