:root {
  --font-color: #d0ded0;
  --sub-font-color: #b0b6b0;
  --background-color: #222622;
  --link-color: #b0dab0;

  /* Quote */
  --quote-highlight: #aaccaa;
  --quote-border: #779977;
  --quote-background: #303830;
  --quote-darker: #162016;

  /* Sizes */
  --font-size: 22px;
  --sub-font-size: 20px;
}

@media screen and (max-width: 990px) {
  :root {
    --font-size: 18px;
    --sub-font-size: 14px;
  }
}
