---
---

@import "header.css";
@import "footer.css";
@import "fonts.css";

html {
  background: var(--html-bg);
}

html, body {
  margin: 0 auto;
}

body {
  // Uppercase M because of Sass dumbness
  // See: https://css-tricks.com/when-sass-and-new-css-features-collide/
  min-width: Min(100%, 1300px);
  max-width: Min(100%, 1910px);

  background: var(--background);
  color: var(--font-color);
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 60%;

  img {
    max-height: 60vh;
    max-width: 100%;
  }
}

@media (orientation: portrait) {
  body {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  main {
    width: 98%;
  }
}
