---
---

:root {
  --header-bg: #343;
  --html-bg: #111;
  --background: #2e2e2e;
  --font-color: #e2e2d2;
  --figcap-color: #101010;
  --quote-color: #0b0b0b;
  --link-color: #7a6;
  --interview-color: #222;
  --pgyft-bg: #222;
  --pgyft-qna: #333;
  --timeline-bg: #111;
  --timeline-month: #222;
  --timeline-event: #333;
}
