header {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 2px solid var(--font-colour);
  padding: 1rem 0;

  a {
    color: var(--font-colour);
  }

  @media screen and (max-width: 990px) {
    & {
      flex-direction: column;
    }

    #header_info_div {
      justify-content: baseline;
      align-items: baseline;
      margin-top: 2rem;
    }
  }
}

#logo_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  h1,
  p {
    text-align: center;
    margin: 0;
    line-height: 1.25;
  }

  h1 {
    text-transform: uppercase;
  }

  p {
    font-style: italic;
    color: var(--sub-font-color);
    font-size: 0.9rem;
  }
}

#header_info_div {
  display: flex;
  justify-content: start;
  gap: 0.5rem;

  p {
    margin: 0.2rem;
  }
}

nav {
  display: flex;
  width: 100%;
  margin-top: 1rem;

  div {
    flex-grow: 1;

    a {
      width: inherit;
    }

    .btn::after {
      content: "▼";
      font-size: 12px;
      padding-left: 0.25rem;
      position: relative;
      top: -2px;
      left: 2px;
    }
  }

  a {
    display: block;
    margin: 0;
    font-variant: small-caps;
    text-transform: lowercase;
  }

  .btn {
    flex-grow: 1;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid var(--quote-border);
    border-right: none;
    background-color: var(--quote-background);
    position: relative;
  }

  .btn.last {
    border-right: 1px solid var(--quote-border);
  }

  div ul {
    display: none;
  }

  div:hover ul {
    display: block;
  }

  ul {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;

    border: 1px solid var(--quote-border);
    background-color: var(--quote-background);
    list-style-type: none;

    li,
    a {
      margin: 0;
    }

    a {
      padding: 0 0.25rem;
      text-align: left;
      border: none;
      border-right: none;
    }
  }

  a:hover {
    background-color: var(--quote-darker);
  }
}

@media screen and (max-width: 990px) {
  nav {
    flex-direction: column;

    .btn {
      border-right: 1px solid var(--quote-border) !important;
    }

    div {
      display: flex;
      flex-direction: column;

      ul {
        position: static;
        flex-grow: 1;
      }
    }
  }
}
