---
---

header {
  //background: #3f663b * 0.8;
  align-items: center;

  padding-top: 0.5rem;

  width: 70%;
  
  margin: 0 auto;

  a {
    margin-right: 1rem;
  }

  div {
      
    p {
      color: white;
      max-width: 60ch;
      margin-top: 0.5rem;
      font-size: 1.1rem;
    }

    h1 {
      margin: 0;
      font-size: 6rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
      }
    }
  }

  display: flex;
  flex-direction: row;

  a {
    width: 180px;

    img {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;

    width: 100%;
    align-items: unset;

    padding: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    a {
      margin: 0 auto;

      img {
        display: block;
        max-height: 100%;
        margin: 0 auto;
      }
    }

    div {
      h1 {
        text-align: center;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;

	font-size: 3rem;
      }

      p {
        display: none;
      }
    }
  }
}
