---
---

header {
  //background: #3f663b * 0.8;
  background: #3f663b;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  width: 100%;

  margin: 0 auto;

  p {
    color: white;
    //max-width: 60ch;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  h1 {
    margin: 0;
    font-size: 3rem;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
    }
  }

  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    padding-left: 0.5rem;
    width: 90px;

    img {
      max-width: 100%;
    }
  }
}

@media (orientation: portrait) {
  header {
    justify-content: center;
    width: 100%;
  }
}
