---
---

header {
  background: var(--header-bg);
  position: sticky;
  top: 0;

  height: 50px;
  padding: 0.3rem;

  display: flex;
  justify-content: center;

  div {
    width: var(--width);
    display: flex;
    align-items: center;
  }

  z-index: 1;

  h1 {
    margin: 0;
    font-size: 2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
    }
  }

  #logolink {
    width: 50px;
    flex-shrink: 0;

    img {
      display: block;
      width: 100%;
    }
  }

  p {
    text-align: right;
    color: white;
    flex: 1;
    font-family: 'Poppins', sans-serif;
  }
}

header:after {
  content: "";
  width: var(--progress);
  height: 3px;
  background: #a03030;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.5s;
}

@media (orientation: portrait) {
  header p {
    display: none;
  }
}