---
---

@import "css/variables";

main h2 {
  margin: 0;
  padding-top: 0.2*$scale;
  padding-bottom: 0.2*$scale;
  padding-left: 1*$scale;

  font-size: 1.8*$scale;
  text-align: center;

  background: #222;
  color: $font-color;
}

.category {
  margin: 0 auto;
  margin-bottom: 2*$scale;
  padding-bottom: 2*$scale;
}

ul {
  width: 90%;
  margin: 0 auto;
  margin-top: 2*$scale;
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5) );
  grid-auto-rows: 1fr;

  div.featured & {
    grid-template-columns: repeat(4, calc(100% / 4) );
  }

  list-style: none;
  padding-left: 0;

  li {
    margin-right: 1*$scale;
    margin-bottom: 1*$scale;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);

    &:hover {
      transform: scale(1.05);
    }

    transition: all 0.2s ease-in-out;

    background: $bg-color*2;

    a {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      width: 100%;
      height: 100%;

      text-decoration: none;
      color: black;
    }

    .content {
      flex-grow: 1;
      padding: 0.5*$scale;

      margin: 0;
    }

    .date {
      margin: 0;
      text-align: right;

      padding-right: 0.4*$scale;
      padding-bottom: 0.2*$scale;

      font-size: 1.2*$scale;
    }

    img {
      width: 100%;
      max-width: 100%;

      height: 15*$scale;
      object-fit: cover;
    }

    .link {
      background: #222;
      color: #efefef;
      margin: 0;
      padding: 0.5*$scale;

      font-weight: bold;
      font-size: 1.4*$scale;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
}

#rss {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 1*$scale;
}
