---
---

ul {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 0.4rem));
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  grid-auto-rows: 1fr;

  li {
    background: #222;
    list-style-type: none;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.2);
  }

  li a {
    height: 100%;
    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: #eee;

    img {
      max-width: 100%;
      height: 350px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
    }

    .link {
      margin: 0;
      padding: 0.5rem;
      background: #111;
      color: white;

      height: 3rem;

      font-weight: 800;
    }

    .content {
      flex-grow: 1;
      padding: 0.5rem;
      margin: 0;
    }

    .date {
      text-align: right;
      padding: 0.5rem;
      margin: 0;
    }
  }
}

#rss {
  text-align: center;
}
