ul li a {
    font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;

  p {
    margin: 0;
  }

  .date,
  .content {
    font-size: var(--sub-font-size);
    color: var(--sub-font-color);
  }
}

ul.four {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  li {
    flex-basis: calc(50% - 2rem);
  }
}

ul.trio,
ul.four {
  li a > div {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  img {
    width: 180px;
    height: 180px;
    object-fit: fill;
    margin: 0;
    border: 1px solid var(--quote-border);
    background-color: black;
  }

  .description {
    display: flex;
    flex-direction: column;
  }
}
