a {
    color: var(--font-colour);
}

ul {
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

ul.trio {
    li a > div img {
        max-width: unset;
        width: 100%;
        height: auto;
    }
    li {
    flex-basis: 30%;
}
}

ul.four li a > div {
    flex-direction: row;

    img {
        height: 196px;
        width: 196px;
        object-fit: fill;
    }
}

li {
    img {
        aspect-ratio: 1 / 1;
        background: black;

        margin: 0;
    }

    a > div {
        display: flex;
        flex-direction: column;
        height: 100%;

        background: var(--quote-colour);
    }

    flex-basis: 45%;

    border: 0.5px solid var(--font-colour);

    .link,
    .title {
        margin: 0;
        padding: 0.15rem 0.5rem;
        padding-bottom: 0.55rem;
        line-height: 1.25;

        color: var(--highlight);

        font-weight: bold;
        font-size: 1.35rem;
    }

    .content {
        flex-basis: 100%;
        margin: 0;
        padding: 0.75rem 0.5rem;
        padding-top: 0;

        font-size: 1rem;

        font-variant: normal;
        text-transform: none;
    }

    .date {
        margin: 0;
        font-size: 0.9rem;
        display: inline-block;
        justify-self: end;
        align-self: flex-end;

        padding: 0.05rem;
    }
}
