---
---

@import "variables";

p {
  font-family: Montserrat;
  font-weight: bold;
}

p + .figure_box, blockquote + .figure_box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main blockquote {
  border-left: none;
  padding: 0;
}

.figure_box + p {
  margin-top: 1rem !important;
}

main blockquote p {
  font-weight: 400 !important;
  font-size: var(--font-size);
  margin-left: 0;
}
