---
---

@import "variables";

p {
  text-align: justify;
}

main > p:not(.intro) {
  background: var(--interview-color);
  padding: 1rem;

  border-left: 5px solid;

  color: var(--body-color);
  margin: 0;
}
