---
---

:root {
  --header-bg: #3f663b;
  --html-bg: #b5b599;
  --background: #e0e0c0;
  --font-color: #2e2e2e;
  --figcap-color: #c0c0a0;
  --quote-color: #eeb;
  --link-color: #3f663b;
  --interview-color: #dda;
  --pgyft-bg: #dec588;
  --pgyft-qna: #e9d9b0;
  --timeline-bg: #ded7c4;
  --timeline-month: #cbc5b4;
  --timeline-event: #ded7c4;
}
