---
---

:root {
  --header-bg: #3f663b;
  --html-bg: #f5f5d0;
  --background: #f2f2e0;
  --font-color: #2e2e2e;
  --figcap-color: #eaeac0;
  --quote-color: #e8e8c0;
  --link-color: #3f663b;
  --interview-color: #dda;
  --pgyft-bg: #dec588;
  --pgyft-qna: #e9d9b0;
  --timeline-bg: #ded7c4;
  --timeline-month: #cbc5b4;
  --timeline-event: #ded7c4;
}
