---
---

:root {
  --header-bg: #3f663b;
  --html-bg: #b5b599;
  --background: #e0e0c0;
  --font-color: #2e2e2e;
  --figcap-color: #c0c0a0;
  --quote-color: #eeb;
  --link-color: #3f663b;
  --interview-color: #dda;
}
