---
---

@import 'monokai.css';

$width: 840px;
main {
    width: $width;
    
  & > * {
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
    display: block;
    width: $width;

    margin-bottom: 0;

    & + h2, & + h3 {
      text-align: center;
      width: 100%;
      margin-top: 0;
    }
  }

  h1:first-of-type {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  & > h1, & > h2, & > h3, & > h4 {
    //width: $width;

    background: var(--font-color);
    color: var(--background);

    box-sizing: border-box;
    display: inline-block;
    font-weight: bold;

    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;

    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: var(--link-color);
  }

  ul {
    width: $width;
  }

  li p {
      margin-bottom: 12px;
      margin-top: 12px;
  }

  p {
    width: $width;
    max-width: 100%;

  }

  & > p:first-of-type::first-letter {
    font-weight: bold;
  }

  video,iframe {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: $width;
  }

  img {
    display: block;
    margin: 0 auto;
    min-width: 20%;
    max-width: 90%;
  }

  .figure_box {
    display: block;
    max-width: $width * 0.9;

    & + .figure_box {
      margin-top: 1rem;
    }

    figure {
      display: table;
      margin: 0 auto;

      img {
        min-width: 20%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }

      figcaption {
        background: var(--figcap-color);
        display: table-caption;
        caption-side: bottom;
        padding: 0.5rem;
      }
    }

    & + blockquote {
      margin-top: 1rem;
    }
  }

  blockquote {
    //background: var(--quote-color);
    //width: calc(#{$width} - 3rem);

    p {
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
    }
    
    border-left: 5px solid;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.5rem;


    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }

    p {
      margin-left: 0.5rem;
      width: unset !important;
    }

    & + .figure_box {
      margin-top: 1rem;
    }
  }

  .highlighter-rouge {
    max-width: 95%;
    width: $width;
    overflow: auto;
    background: #272822;
  }

  .highlight .highlight {
    padding: 1rem;
  }

  code {
    color: white;
  }
}

#navigation {
  display: flex;
  justify-content: space-around;
  width: $width;
  max-width: 95%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  a {
    font-size: 1.2rem;
  }
}

#links {
  background: #333;

  & > p {
    color: #e2e2e2;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 0.5rem;
    padding: 1rem;
    margin: 0;

    a {
      text-decoration: none;
      color: #e2e2e2;
      height: 100%;
    }

    li {
      list-style: none;
      background: #111;
      height: 100%;

      p {
        margin: 0;
        padding: 0.5rem;
      }

      .title {
        height: 3rem;
        font-weight: bold;
        background: #222;
      }
    }
  }
}

@media (orientation: portrait) {
  main {
    .figure_box, h1,h2,h3,h4, p, code, iframe, img {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    li {
      max-width: 100%;
    }

    video, iframe {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    ul, blockquote {
      width: calc(95% - 2rem);
    }
  }

  #links ul {
    grid-template-columns: 1fr;
  }
}
