---
---

@import 'monokai.css';

$width: 750px;
main {
  a {
    font-weight: bold;
    text-decoration: none;
    color: maroon;
  }

  li, p {
    width: $width;
    max-width: 100%;
  }

  iframe {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: $width;
    max-width: 100%;
  }

  img {
    display: block;
    margin: 0 auto;
    min-width: 20%;
  }

  .figure_box {
    display: block;
    max-width: $width;

    & + .figure_box {
      margin-top: 1rem;
    }

    figure {
      display: table;
      margin: 0 auto;

      img {
        min-width: 20%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }

      figcaption {
        background: #c0c0a0;
        display: table-caption;
        caption-side: bottom;
        padding: 0.5rem;
      }
    }
  }

  blockquote {
    margin: 0;
    //padding-left: 0.2rem;
    border-left: 5px solid;

    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;

    background: #eeb;
    width: $width;

    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }

    p {
      margin-left: 0.5rem;
    }
  }

  .highlighter-rouge {
      max-width: 95%;
      width: $width;
      overflow: auto;
      background: #272822;
  }
  
  .highlight .highlight {
    padding: 1rem;
  }

  code {
    color: white;
  }
}

#navigation {
  display: flex;
  justify-content: space-around;
  width: $width;
  max-width: 95%;
  margin-top: 1rem;
}

#links {
  background: #333;

  & > p {
    color: #e2e2e2;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-gap: 0.5rem;
    padding: 1rem;
    margin: 0;

    a {
      text-decoration: none;
      color: #e2e2e2;
      height: 100%;
    }

    li {
      list-style: none;
      background: #111;
      height: 100%;

      p {
        margin: 0;
        padding: 0.5rem;
      }

      .title {
        height: 3rem;
        font-weight: bold;
        background: #222;
      }
    }
  }
}

@media (orientation: portrait) {
  main {
    .figure_box, h1,h2,h3, p, code, iframe, img {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    li {
	max-width: 100%;
    }

    video, iframe {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    ul, blockquote {
	width: calc(95% - 2rem);
    }
  }
}
