---
---

@import 'monokai.css';

main > p:first-of-type::first-letter {
    float: left;
    margin-top: 0.44rem;
    margin-right: 0.04em;
    //margin-bottom: -0.15em;
    margin-left: -0.15ex;
    padding-left: 0;
    line-height: 0.83em;
    //font-family: "Linux Libertine O", serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 4rem;
}

main {
  width: var(--width);
  max-width: 100%;

  text-rendering: optimizelegibility;
  font-kerning: normal;
  hyphens: auto;

  & > * {
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
    display: block;
    width: var(--width);

    margin-bottom: 0;

    & + h2, & + h3 {
      text-align: center;
      width: 100%;
      margin-top: 0;
      padding-bottom: 1rem;
    }

    & + img, & + .figure_box {
	margin-top: 1.5rem;
    }
  }

  h1:first-of-type {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  & > h1, & > h2, & > h3, & > h4 {
    font-weight: bold;
  }

  h2,h3,h4 {
      margin-top: 2em;
      margin-bottom: 0;

      & + p {
          margin-top: 0.5em;
      }
  }


  a {
    font-weight: bold;
    text-decoration: none;
    color: var(--link-color);

    transition: filter 0.25s;

    &:hover {
        filter: brightness(120%);
    }
  }

  ul {
    width: var(--width);
  }

  li {
      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
  
      p {
          margin: 0;
      }
  }

  p {
    width: var(--width);
    max-width: 100%;
  }

  video,iframe {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: var(--width);
  }

  img {
    display: block;
    margin: 0 auto;
    min-width: 20%;
    max-width: 100%;
    max-height: 500px;
  }

  .figure_box {
      figure {
          display: table;
          margin: 2rem auto;

          figcaption {
              text-align: center;
              font-size: 0.9em;
              padding-top: 0.5em;

              display: table-caption;
              caption-side: bottom;

              opacity: 0.8;
          }
      }
  }

  blockquote {
    li, p {
	font-weight: 300;
    }

    strong {
        font-feature-settings: "onum", "c2sc", "smcp";
    }

    a:first-child {
        background: var(--link-color);
        color: var(--background);
        padding: 0.3rem;
    }

    border-left: 5px solid;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.5rem;


    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }

    p {
      margin-left: 0.5rem;
      width: unset !important;
    }

    & + .figure_box {
      margin-top: 1rem;
    }
  }

  .highlighter-rouge {
    max-width: 95%;
    width: var(--width);
    overflow: auto;
    background: #272822;
  }

  .highlight .highlight {
    padding: 1rem;
  }

  code {
    color: white;
  }
}

#navigation {
  width: var(--width);
  max-width: 95%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 25% 25%;

  a {
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 5px;
    background: var(--link-color);
    color: var(--background);
    text-align: center;
  }
}

#links {
  background: #333;

  display: flex;
  justify-content: center;

  &>div {
    width: var(--width);
  }


  ul {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 0.5rem;
    padding: 1rem;
    margin: 0;

    a {
      text-decoration: none;
      color: #e2e2e2;
      height: 100%;
    }

    li {
      list-style: none;
      background: #111;
      height: 100%;

      p {
        margin: 0;
        padding: 0.5rem;
      }

      .title {
        height: 3rem;
        font-weight: bold;
        background: #222;
      }
    }
  }
}

@media (orientation: portrait), (max-width: 1300px) {
  main {
    .figure_box, p, code, iframe {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    h1,h2,h3,h4  {
      margin-left: 2.5%;
      max-width: 95%;
    }

    img {
        max-width: 95%;
    }

    li {
      max-width: 100%;
    }

    video, iframe {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    ul, blockquote {
      width: calc(95% - 2rem);
    }
  }

  #links ul {
    grid-template-columns: 1fr;
  }
}
