:root {
  --progress: 0%;
}

.progress {
  transition: all 0.25s ease-in-out;
  width: var(--progress, 0);
  height: 1px;
  background-color: var(--quote-border);

  position: fixed;
  top: 0;
  left: 0;
}