@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

p.lcd {
  font-family: VT323;
  font-weight: bold;
  border: 5px solid black;
  background: #0f0f0f;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px;
  text-transform: uppercase;
  color: #ccc;
}

p.lcd.red {
  color: darkred;
}

p.lcd.new {
  border-color: #333;
}
