@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

p.lcd {
  font-family: VT323;
  font-weight: bold;
  border: 5px solid black;
  background: #222;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 12px;
  text-transform: uppercase;
  color: #ddd;
  font-size: 20px;
}

p.lcd.red {
  color: #cc3333;
}

p.lcd.new {
  border-color: #333;
}
