---
---

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;

  font-size: 1vw;
}

main {
  line-height: 1.8;
}

header {
  background: url("/imgs/city.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;

  padding: 1rem;
  display: grid;
  grid-template-columns: 18vw 42vw;
  justify-content: center;

  line-height: 1.4;

  & > a {
    display: block;
    margin-right: 1rem;
  }

  img {
    max-width: 100%;
  }

  div {
    align-self: center;

    h1  {
      margin: 0;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #efefef;
        font-size: 5vw;
      }
    }

    p {
      color: #efefef;
      font-size: 1.4vw;
      margin-top: 0.5vw;
    }
  }
}

img {
  max-width: 100%;
  display: block;
}

main {
  background: #bb7;
}
