---
---

#legend {
  margin: 1rem auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  justify-content: center;

  border: 1px solid var(--border-color);

  p {
    width: unset;
    margin: 0;
    padding: 0.3rem;

    color: white;
  }
}

.year {
  background-color: var(--timeline-bg);

  .month {
    background-color: var(--timeline-month);

    .month_name {
      background-color: var(--timeline-header);
    }
	
	.events {
		background: repeating-linear-gradient( 0, var(--timeline-event), var(--timeline-event) 64px, var(--timeline-event-dark) 64px, var(--timeline-event-dark) 128px );
	}
  }
}


.year {
  padding: 1rem;
  border: 1px solid var(--border-color);
  margin-bottom: 3rem;

  h2 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
  }

  p {
    width: unset;
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;

    .month_name {
      font-weight: bold;
      margin: 0;
      border-bottom: 1px solid var(--border-color);
      padding: 0.3rem;
      font-size: 14px;
      font-family: sans-serif;
    }

    .month {
      border: 1px solid var(--border-color);

	  display: flex;
	  flex-direction: column;
    }

    .events {
      display: flex;
      flex-direction: column;
      min-height: 128px;

	  flex: 1;
    }

    .event_container {
      display: grid;
      grid-template-columns: 32px auto;
      box-sizing: border-box;

      &:last-child {
        margin-bottom: -1px;
      }
      
      .day {
        color: white;
        text-align: center;
        height: 100%;
        box-sizing: border-box;
	    border-bottom: 1px solid var(--border-color);
	    border-right: 1px solid var(--border-color);
      }
      
      p {
        font-family: sans-serif;
        margin: 0;
        padding: 0.5rem;
        min-height: 64px;
        font-size: 12px;
		box-sizing: border-box;
      }
    }
  }
}

.event-arg {
  background: #444;
}
.event-soulstorm {
  background: #306040;
}
.event-killed {
  background: #904035;
}
.event-other {
  background: #C09040;
}
.event-discord {
  background: #650B1D;
}
.event-marketing {
  background: #B07060;
}

@media (orientation: portrait) {
  .year > div {
    grid-template-columns: 1fr;
  }
}

