---
---


#legend {
  background: #222;
  padding: 0.5rem;

  .event {
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
  }

  p {
    margin: 0;
  }
}

.year {
  display: grid;
  grid-template-columns: repeat(3, calc(33% - 1rem));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  box-shadow: 1px 1px 1px 1px;

  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  background: #d2d2d2;
}


.month {
  background: #d2d2d2;
  box-shadow: 1px 1px 1px 1px;
}

.month_name {
  font-weight: bold;
  background: #aaa;
  padding: 0.8rem;
  margin: 0;
  text-align: center;
}

$event-height: 3rem;
.events {
  min-height: 3*$event-height;
}

.event_container {
  display: grid;
  grid-template-columns: 3rem auto;
  border-bottom: 1px solid;
  height: $event-height;

  p {
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
    color: black;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;

    &:hover {
      overflow: unset;
      white-space: unset;
    }
  }

  &:hover {
    min-height: $event-height;
    height: auto;
  }
}


.day {
  color: white !important;
  text-align: right;
}

.event-arg {
  background: #444;
}
.event-soulstorm {
  background: #306040;
}
.event-killed {
  background: #904035;
}
.event-other {
  background: #C09040;
}
.event-discord {
  background: #650B1D;
}
.event-marketing {
  background: #B07060;
}
