:root
{
  --event-height: 45px;
}

.month
{
  background-color: #a4a4a4;
  display: grid;

  width: 80%;
  margin: 0 auto;

  grid-template-columns: 18% 82%;

  min-height: var(--event-height);

  margin-bottom: 10px;
  border: 2px solid black;

  color: black;
  
  box-shadow: 1px 1px 2px;
}

h3
{
  text-align: center
}

p.date
{
  margin:auto;
  text-align: center;
  font-family: sans-serif;
}

.events
{
  display: flex;
  flex-direction: column;
  border-left: 2px solid black;
}

.inner_event:not(:last-child)
{
  border-bottom: 2px solid black;
}

.event
{
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: var(--event-height);
  margin-bottom: 0;
  margin-top: 0;
  color: black;
}

.inner_event
{
  display: flex;
}

.day
{
  display: flex;

  justify-content: right;
  align-items: center;

  height: var(--event-height);
  width: 5%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid black;
  font-family: sans-serif;
}

.event-soulstorm
{
  background-color: #008000;
}

.event-arg
{
  background-color: #777;
}

.event-discord
{
  background-color: #700070;
}

.event-project
{
  background-color: #ab0022;
}

.event-killed
{
  background-color: #700009;
}

p, a
{
  width: 100%;
  /*! text-align: center; */
}

*[title]
{
  border: none;
}
