---
---

@import "variables";

#legend {
  background: #222;
  padding: 0.5*$scale;

  margin-top: $scale;

  .event {
    padding: 0.5*$scale;
    margin-bottom: 0.2*$scale;
  }

  p {
    color: $bg-color;
    margin: 0;
  }
}


.year {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 3*$scale;

  padding: 1*$scale;
  padding-bottom: 2*$scale;
  background: $bg-color/1.1;
  box-shadow: 1px 1px 1px 1px;

  h2 {
    margin-top: 1*$scale;
    margin-bottom: 2*$scale;
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(3, calc(33% - 1*#{$scale}));
    grid-column-gap: 1*$scale;
    grid-row-gap: 1*$scale;
    justify-content: center;
  }
}


.month {
  background: $bg-color/1.2;
  box-shadow: 1px 1px 1px 1px;
}

.month_name {
  font-weight: bold;
  background: rgba(16,64,16,0.8);
  padding: 0.6*$scale;
  margin: 0;
  text-align: center;
    color: $bg-color;
}

$event-height: 3.5*$scale;
.events {
  min-height: 3*$event-height;
}

.event_container {
  display: grid;
  grid-template-columns: 3*$scale auto;
  border-bottom: 1px solid;
  height: $event-height;

  p:not(.day) {
    background: $bg-color/1.1;
  }

  p {
    margin: 0;
    padding: 0.5*$scale;
    font-weight: bold;
    color: $font-color;
    text-align: left;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;


    &:hover {
      overflow: unset;
      white-space: unset;
    }
  }

  &:hover {
    min-height: $event-height;
    height: auto;
  }


.day {
  color: white;
  text-align: right;
}
}

.event-arg {
  background: #444;
}
.event-soulstorm {
  background: #306040;
}
.event-killed {
  background: #904035;
}
.event-other {
  background: #C09040;
}
.event-discord {
  background: #650B1D;
}
.event-marketing {
  background: #B07060;
}
