p
{
  font-size: 18px;
  color: #b4b91c;
}

.month
{
  background-color: #666600;
  display: grid;

  grid-template-columns: 20% 80%;

  min-height: 50px;

  margin-bottom: 20px;
  border: 2px solid black;
}

p.date
{
  margin:auto;
  font-family: sans-serif;
}

.events
{
  display: flex;
  flex-direction: column;
  border-left: 2px solid black;
}

.inner_event:not(:last-child)
{
  border-bottom: 2px solid black;
}

.event
{
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  margin-bottom: 0;
  margin-top: 0;
}

.inner_event
{
  display: flex;
}

.day
{
  display: flex;

  justify-content: right;
  align-items: center;

  height: 50px;
  width: 5%;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid black;
  font-family: sans-serif;
}

.event-soulstorm
{
  background-color: #004000;
}

.event-arg
{
  background-color: #383838;
}

.event-discord
{
  background-color: #400040;
}

.event-project
{
  background-color: #620018;
}
