@font-face {
  font-family: PupFont;
  src: url("pupfont.woff");
}

/*
body {
  background-color: #171717;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
*/

h1, h2 {
  text-align: center;
  color: #e0e0e0;
}

h2 {
  margin-top: 0.2em;
  margin-bottom: 0.1em;
  font-size: 3em;
}

h1 {
  margin-top: 0;
  font-family: PupFont;
  font-size: 8em;
  font-weight: normal;
}
