@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
  background-color: #171717;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

h1, h2, h3 {
  color: #e0e0e0;
  text-align: center;
}

h1 {
  margin-top: 1.2ch;
  margin-bottom: 1ch;
  font-size: 4ch;

  font-family: 'Merriweather';
}

h2 {
  margin-top: 3ch;
  margin-bottom: 1ch;
}

h1 ~ h3 {
  margin-top: -1.5ch;
}

p {
  width: 35em;
  color: #d8d8d8;
  margin: auto;
  margin-bottom: 2ch;
  font-size: large;

  font-family: 'Roboto';
  text-indent: 2ch;
}

p:not(.capitalized) {
  text-indent: 1.5ch;
}

p.bookpage {
  text-indent: unset;
  font-weight: bold;
  margin-bottom: 0.3em;
}

p.quoted {
  font-family: 'Playfair Display';
  font-weight: bold;
  font-style: italic;
  text-indent: unset;
}

p.capitalized:first-letter {
  font-size: 125%;
  font-weight: bold;
}

p.centered {
  text-align: center;
  text-indent: 0;
}

p.subtitle {
  text-align: center;
  width: 35em;
  font-style: italic;
  margin-top: -2.5ch;
  margin-bottom: 1ch;
  color: darkgrey;
  font-size: 1.75ch;
  text-indent: 0;
}

p.placeholder {
  text-align: center;
  font-size: large;
  color: #a5a4a4;
  text-indent: unset;
}

p.title {
  text-indent: unset;
  margin-bottom: 0.4em;
  font-size: x-large;
  width: unset;
  color: white;
}

hr {
  width: 40ch;
  margin-top: 2ch;
  margin-bottom: 2ch;
}

img {
  width: 35em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3ch;
  margin-top: 3ch;
}

img.original {
  width: unset;
  margin-bottom: 1ch;
  margin-top: 1ch;
}

img.small {
  width: 15em;
}

ul {
  color: #d8d8d8;
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: large;
}

ul.small {
  list-style-type: unset;
  font-size: large;
  color: #d8d8d8;
  width: 35em;
}

.ul_container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.ul_container li {
  margin-bottom: 1.5em;
}

#frontpage_container, .frontpage_container {
  margin-top: 3ch;
}

#frontpage_container div {
  margin-left: 16em;
  margin-bottom: 3em;
}

#frontpage_container li {
  margin-bottom: 1.2em;
  width: 25em;
  display: inline-block;
  vertical-align: top;
  margin-right: 2em;
}

a {
  color: white;
}

a:visited {
  color: gray;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: smaller;
}
