@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

$bg-color: #162001;
$header-color: #c9aa00;
$p-color: #94a837;
$a-color: #95c1d5;
$a-visited: #7ba0b1;

/* == HEADERS == */

h1, h2, h3 {
  text-align: center;
  color: $header-color;
}

h1 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-size: 36px;
  font-family: 'Merriweather';

  &.ss {
    font-size: 72px;
    margin-top: -0.4em;
    margin-bottom: -0.1em;
    font-style: italic;
  }
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h1+h3 {
  margin-top: -0.6em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.8em;
}

h3+h3 {
  margin-bottom: 1.2em;
}

/* == P-s == */

p {
  color: $p-color;
  margin: auto;
  margin-bottom: 1em;
  font-size: 22px;
  line-height: 1.45em;

  &.centered {
    text-align: center;
  }

  &.subtitle {
    text-align: center;
    font-style: italic;
    font-size: large;
    color: darkgrey;
    margin-top: -0.8em;
    margin-bottom: 1.2em;
    font-family: 'Open Sans';
  }

  &.bookpage {
    font-weight: bold;
    margin-bottom: 0.3em;
  }

  &.quoted {
    font-style: italic;
    font-family: 'Open Sans';
    font-size: 20px;
  }

  &.placeholder {
    color: darkgrey;
    font-size: large;
    text-align: center;
  }

  &.title {
    font-size: x-large;
    margin-bottom: 0.1em;
    color: $header-color;
  }

  &.capitalized {
    font-weight: bold;
  }
}

span[title] {
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: help;
}

/* == LINKS == */

a {
  color: $a-color;
  font-weight: normal;

  &:visited {
    color: $a-visited;
  }
 }

/* == UL & LI == */

li {
  color: $p-color;
  font-size: 22px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: large;

  &.small {
    list-style-type: unset;
    font-size: large;
    color: #d8d8d8;
    width: 80%;
  }

  &.condensed {
    li {margin-bottom: 0.2em;}
  }
}

.ul_container {
  display: flex;
  justify-content: center;
  margin-top: 1em;

  li {
    margin-bottom: 1.5em;
  }
}

$dwidth: 18%;

#frontpage_container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin-bottom: 1.75em;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 22px;
    margin-bottom: 1em;
  }

  .date {
    width: $dwidth !important;
    margin-bottom: 0;
    font-family: "DejaVu Sans Mono", "monospace";
    font-size: 18px;
  }

  .content, .link {
    width: 100%-$dwidth;
    margin: unset;
    font-family: 'Open Sans';
  }
}

/* == IMAGES == */

img {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  &.small {
    width: 40%;
  }

  &.original {
    width: unset;
  }
}

.compare_div {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 0.5em;
  align-items: flex-start;

  img {
    width: unset;
    max-height: 400px;
    margin: 10px 10px;
  }
}

/* == HR == */

hr {
  width: 20em;
  margin-top: 1em;
  margin-bottom: 3em;
  &.gap {
    margin-top: 4em;
    margin-bottom: 4em;
  }
}

/* == BODY == */

body {
  background-color: $bg-color;
  position: relative;
  margin: 0 auto;
  max-width: 40%;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Merriweather';
  color: $p-color;
}

/* == FOOTER == */

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: initial;
}

#footer img {
    margin-bottom: 0.5em;
    margin-top: unset;
    width: unset;
}

/* == MOBILE == */
@media (max-width: 600px) {
  h1 {
    font-size: 24px !important;
  }
  
  h2 {
    font-size: 16px !important;
  }
  
  body {
    max-width: 80% !important;
  }
  
  p {
    font-size: 16px !important;
  }
}
