body {
  background-color: black;
}

h1 {
  text-align: center;
  margin-top: 2ch;
  margin-bottom: 1.5ch;
  color: white;
  font-size: 4ch;
  font-weight: bold;
}

p {
  width: 80ch;
  margin: auto;
  margin-bottom: 2ch;
  color: white;
  font-size: larger;
}

p.centered {
  text-align: center;
}

hr {
  width: 40ch;
  margin-top: 2ch;
  margin-bottom: 2ch;
}

img {
  width: 60ch;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4ch;
  margin-top: 4ch;
}
