@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
  background-color: #171717;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

h1, h2, h3 {
  color: #e0e0e0;
  text-align: center;
}

h1 {
  margin-top: 1.2ch;
  margin-bottom: 1ch;
  font-size: 4ch;

  font-family: 'Merriweather';
}

h2 {
  margin-top: 3ch;
  margin-bottom: 1ch;
}

div h3 {
  margin-top: -1.5ch;
}

p {
  width: 60ch;
  color: #d8d8d8;
  margin: auto;
  margin-bottom: 2ch;
  font-size: larger;

  font-family: 'Roboto';
  /*text-indent: 2ch;*/
}

p:not(.capitalized) {
  text-indent: 1.5ch;
}

p.capitalized:first-letter {
  font-size: 125%;
  font-weight: bold;
}

p.centered {
  text-align: center;
  text-indent: 0;
}

p.subtitle {
  text-align: center;
  width: 60ch;
  font-style: italic;
  margin-top: -2.5ch;
  margin-bottom: 1ch;
  color: darkgrey;
  font-size: 1.75ch;
  text-indent: 0;
}

p.placeholder {
  text-align: center;
  font-size: large;
  color: #a5a4a4;
  text-indent: unset;
}

p.title {
  text-indent: unset;
  margin-bottom: 0.6em;
  font-size: x-large;
  width: unset;
}

hr {
  width: 40ch;
  margin-top: 2ch;
  margin-bottom: 2ch;
}

img {
  width: 60ch;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3ch;
  margin-top: 3ch;
}

ul {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: large;
  max-width: 90%;
}

ul.small {
  list-style-type: unset;
  font-size: large;
  color: #d8d8d8;
  width: 60ch;
}

#ul_container {
  margin-top: 3ch;
  display: flex;
  justify-content: center;
}

#ul_container div {
  width: 20%;
}

#ul_container div:first-child {
  margin-left: 2.23%;
}

li {
  margin-bottom: 2.5ch;
}

a {
  color: white;
}

a:visited {
  color: gray;
}

.wip {
  text-decoration: line-through;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: smaller;
}
