body {
  background-color: black;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

h1 {
  text-align: center;
  margin-top: 2ch;
  margin-bottom: 1.5ch;
  color: white;
  font-size: 4ch;
  font-weight: bold;
}

p {
  width: 80ch;
  margin: auto;
  margin-bottom: 2ch;
  color: white;
  font-size: larger;
  text-align: justify;
}

p.centered {
  text-align: center;
}

.subtitle {
  text-align: center;
  width: 60ch;
  font-style: italic;
  margin-top: -2.5ch;
  margin-bottom: 2ch;
}

hr {
  width: 40ch;
  margin-top: 2ch;
  margin-bottom: 2ch;
}

img {
  width: 60ch;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4ch;
  margin-top: 4ch;
}

ul {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;

  font-size: larger;
  width: 80ch;
}

#ul_container {
  margin-top: 5ch;
  display: flex;
  justify-content: center;
}

li {
  margin-bottom: 1ch;
}

a {
  color: white;
  font-size: larger;
}

a:visited {
  color: gray;
}

.wip {
  text-decoration: line-through;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: smaller;
}
