body {
  background-color: #381331;
  color: #c4a219;
}

#selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  cursor: pointer;
  color: #e29f0f;
  text-decoration: underline;
}

a:visited {
  color: #897110;
}

#title_div, #root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

#title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: xx-large;

  margin-top: 6px;
  margin-bottom: 16px;
}

#madeby, #root > div {
  width: 40%;
  border: 3px solid;
  border-radius: 16px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #1b0918;
}

#madeby {
  width: unset;
  margin-bottom: unset;
}

#root div .bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: -15px;
}

.question {
  font-weight: bold;
}

.answer::before {
  content: "Alf: ";
  font-weight: bold;
}

#madeby {
  position: fixed;
  right: 0.5%;
  bottom: 1.5%;
  text-align: center;
}

/* ABOUT */

img {
  display: block;
  margin: auto;
}

p.about {
  width: 50%;
  margin: auto;
  margin-top: 25px;
}

div.about {
  width: 60%;
  margin:auto;
  margin-bottom: 25px;
  background-color: #1b0918;
  border: 3px solid;
  border-radius: 16px;
  padding: 1%;
}

div.about span {
  display: block;
  width: 85%;
  margin: auto;
}

.about p {
  text-align: center;
}
