<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="Description" content="Oddwords is an Oddworld fansite created to help people understand the series better">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="/assets/js/lightswitch.js"></script>
    <script async src="/assets/js/progress.js"></script>
    <link rel="stylesheet" href="/css/colorscheme.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="shortcut icon" href="/favicon.ico?v=2">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml">
    <title>Oddwords: {{ page.title }}</title>

    <!-- OpenGraph stuff -->
    <meta property="og:title" content="Oddwords: {{ page.title }}">
    <meta property="og:description" content="{{ page.summary }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://oddwords.hu{{page.url}}">
    <meta property="og:image" content="https://oddwords.hu/logo.webp">
  </head>
  <body type="bright">
    <header>
      <div>
        <a href="/index.html" id="logolink">
          <img src="/logo.webp" alt="Oddwords Logo">
        </a>
        <h1><a href="/index.html">Oddwords</a></h1>
        <p>[Published at {{page.date | date: "%Y.%m.%d." }}] [{{ page.content | number_of_words }} words]</p>
      </div>
    </header>

    <main class="content-grid">
      {{ content }}

      <div id="navigation">
        {% if page.previous %} <a href="{{page.previous.url}}">&lt;- Previous</a>{% endif %}
        {% if page.next %}     <a href="{{page.next.url}}"    >Next -&gt;</a>{% endif %}
      </div>
    </main>

    <div id="links">
      <div>
      {% assign cat = page.categories[0] | strip %}
      {% assign len = cat | size %}
      {% assign posts = 6 %}
      {% if len != 0 %}
      <ul>
        {% for p in site.categories[cat] %}
        {% if p.title != page.title %}
        <a href="{{p.url}}">
          <li>
            <p class="title">{{p.title}}</p>
            <p>{{p.summary}}</p>
          </li>
        </a>
        {% assign posts = posts | minus: 1 %}
        {% if posts == 0 %}
        {% break %}
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      </div>
    </div>

    <footer>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Creative Commons License" src="/imgs/cc.webp"/>
      </a>
      <p>Nemin (2018 - 2024)</p>
    </footer>

    <p id="lightswitch">💡</p>
  </body>
</html>
