<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="shortcut icon" href="/favicon.ico?v=2">
    <link rel=alternate" type="application/atom+xml" href="/feed.xml">
    <title>Oddwords: {{ page.title }}</title>

    <!-- OpenGraph stuff -->
    <meta property="og:title" content="Oddwords: {{ page.title }}">
    <meta property="og:description" content="{{ page.summary }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://oddwords.hu{{page.url}}">
    <meta property="og:image" content="https://oddwords.hu/logo.webp">
  </head>
  <body>
    <header>
      <a href="/index.html">
        <img src="/logo.webp">
      </a>
      <div>
        <h1><a href="/index.html">Oddwords</a></h1>
        <p>Welcome to Oddwords, an Oddworld fansite hosting content
        written by me, such as essays, reviews and lists.</p>
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <div id="links">
      {% assign cat = page.categories[0] | strip %}
      {% assign len = cat | size %}
      {% if len != 0 %}
      <p>Other posts in the {{page.categories[0] | capitalize}} category:</p>
      <ul>
        {% for p in site.categories[cat] limit:4 %}
        {% if p.title != page.title %}
        <a href="{{p.url}}">
          <li>
            <h3>{{p.title}}</h3>
            <p>{{p.summary}}</p>
          </li>
        </a>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    </div>

    <footer>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Creative Commons License" src="/imgs/cc.png"/>
      </a>
      <p>Nemin (2018 - 2020)</p>
    </footer>
  </body>
</html>
