<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/favicon.ico">
    <title>Oddwords: {{ page.title }}</title>
  </head>
  <body>
    <div id="content">
    {{ content }}
    </div>

    <p class="centered"><a href="/">Back to the frontpage</a></p>
    <hr>
    <footer>
      <div id="footer">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Creative Commons License" src="/imgs/cc.png"/>
      </a>
      <p>Nemin (2018 - 2019)</p>
      </div>
    </footer>
  </body>
</html>
