<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/newstyle.css">
    <link rel="icon" href="/favicon.ico">
    <link rel=alternate" type="application/atom+xml" href="/feed.xml">
    <title>Oddwords</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- OpenGraph stuff -->
    <meta property="og:title" content="Oddwords">
    <meta property="og:description" content="A fansite dedicated to Canon & Community.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://oddwords.hu/">
    <meta property="og:image" content="https://oddwords.hu/logo.webp">
  </head>
  <body>
    <div id="main">
      <main>
        {{ content }}
      </main>

      <div id="sidebar">
        <header>
          <div id="header">
            <a href="/index.html">
              <img src="/logo.webp">
              <h1>Oddwords</h1>
            </a>
          </div>

          <div id="links">
            <p>Welcome to Oddwords, an Oddworld fansite hosting content
            written by me, such as essays, reviews and lists.</p>
          </div>
        </header>

        <footer>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Creative Commons License" src="/imgs/cc.png"/>
          </a>
          <p>Nemin (2018 - 2020)</p>
        </footer>
      </div>
    </div>
  </body>
</html>
