<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="icon" href="/favicon.ico">
    <title>Oddwords</title>
  </head>
  <body>
    {{ content }}

    <footer>
      <div id="footer">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img alt="Creative Commons License" src="/imgs/cc.png"/>
      </a>
      <p>Nemin (2018 - 2019)</p>
      </div>
    </footer>
  </body>
</html>
